body{
  background-image: url("img/green_reblooming.JFIF");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}
tbody{
  background-color: rgba(144,144,144,0.25);
  text-align: center;
  padding: 100px;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 100px;

}
tr{
  padding: 10px 30px;
}
th{
  padding: 10px 10px;
  color: rgba(255,255,255,0.8);
}
a{
  color: #ffffff;
}
div{
  background-color: rgba(144,144,144,0.25);
  width: 620px;
  padding: 10px;
  margin: auto;
}
p{
    color: rgba(255,255,255,0.85);
    text-align: center;

}
#imgeu{
  float: left;
  width:130px;
  border-radius:40%;
}
h1{
  color: rgba(224,36,94,0.5);
}
h2{
  font-size: 85%;
}

p#bonus{
  color: black;
}
p#ba{
    color: rgba(224,36,94,0.5);
}
.paginas{
  padding-left: 30px;
  padding-right: 30px;
}

#raposa{
  float: none;
  margin-left: 30px;
  padding: 30px;
  width:60%;
  border-radius:40%;
}

#pag{
  margin-left: 80px;
  padding-left: 30px;
  padding-right: 30px;
}
#pagi{
  margin-left: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
ul{
  list-style-type: none;
  color: black;
  text-align: center;
}
#dog{
  width:150px;
  border-radius:40%;
}
#bad{
  width: 150px;
  border-radius:40%;
}
